button {
    background: #6278f7;
    border-radius: 10px;
    font-weight: 700;
    font-size: 14px;
    padding: 12px 18px;
    border: none;
    cursor: pointer;
    color: #fff;
    margin-top: 24px;
    transition: background .2s ease;
}

button:hover {
    background: #3c56f3;
}