.footer {
    background: #6278F7;
    color: #FFF;
    padding: 48px;
    display: flex;
    gap: 24px;
    align-items: center;
    flex-direction: column;
}

.footer ul {
    display: flex;
}

.footer ul li {
    margin-right: 32px;
}

.footer ul li:last-child {
    margin-right: 0;
}